<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--用quartz的死套路-->
    <bean id="taskJob" class="com.coder520.common.task.AttendCheckTask"/>
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="taskJob"/>
        <property name="targetMethod" value="checkAttend"/>
    </bean>

    <bean id="attendCheck" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"/>
        <property name="cronExpression">
            <!--通过cron表达式确定quartz触发的时间-->
            <value>0/30 * * * * ?</value>
        </property>
    </bean>
    <!--Quartz 有自己的一套数据库表，还有properties配置文件，可以开启集群支持-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="attendCheck"/>
            </list>
        </property>
    </bean>
</beans>